@import "tailwindcss";

/* 強制讓網頁的最底層也是深藍色，並移除所有邊距 */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #020617; /* 這是極深藍色 Slate-950 */
  overflow: hidden; /* 防止出現奇怪的捲軸 */
}